// stylying candidate profile page

// styling the main div of company profile page

.app__candidate-profile__main {
  padding: 1rem 4rem;
  display: grid;
  grid-template-areas: 
        // row 1

    "candidate-info  candidate-profile-wraper"
    // row 2
    "sidebar-menu    candidate-profile-wraper"
    // row 3
    "benefits    benefits";
  grid-template-rows: 200px auto;
  grid-template-columns: 350px 70%;

  // areas
  .candidate-info {
    grid-area: candidate-info;
    height: 200px;
  }
  .sidebar-menu {
    grid-area: sidebar-menu;
    height: 200px;
  }

  .candidate-profile-wraper {
    grid-area: candidate-profile-wraper;
    padding: 0 2rem;
    margin-top: 3rem;
    border-left: 1px solid rgba(159, 154, 154, 50%);
    height: auto;
  }

  .benefits {
    grid-area: benefits;
    width: 50%;
  }
}
