// styling the large image in the job list page
.app__job-list__large-image {
  width: 465px;
  height: 955px;
  margin-left: 2rem;
  // box title appears upper the image
  .title {
    background-color: var(--dark-gray);
    color: #fff;
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
  }
  img {
    width: 465px;
  }
}
