// styling the list component
.app__list {
  select {
    width: 280px;
    height: 50px;
    border: var(--border);
    text-align: center;
    padding: 0.5rem;
    margin: 0.75rem 1rem 0.75rem 0;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.4rem;
    color: var(--med-gray);
    accent-color: red;
  }

  .label {
    margin: 0 0.5rem;
    color: var(--dark-gray);
    font-weight: 400;
    width: 110px;
  }
}
