.app__contact-alps-east__main {
  padding: 1rem 4rem;
  display: grid;
  grid-template-areas: "employer-info contact-form" "sidebar-menu    contact-form" "benefits    benefits";
  grid-template-rows: 200px auto;
  grid-template-columns: 350px 70%;
}
.app__contact-alps-east__main .employer-info {
  grid-area: employer-info;
  height: 200px;
}
.app__contact-alps-east__main .sidebar-menu {
  grid-area: sidebar-menu;
  height: 200px;
}
.app__contact-alps-east__main .contact-form {
  grid-area: contact-form;
  padding: 0 0 6rem 2rem;
  margin-top: 3rem;
  border-left: 1px solid rgba(159, 154, 154, 0.5);
}
.app__contact-alps-east__main .benefits {
  grid-area: benefits;
  width: 50%;
}