// post job form styling

//upper colored bar
.app__post-job__upper-colored-bar {
  margin-bottom: 2rem;
  .light-gray,
  .red-color,
  .dark-yellow {
    height: 5px;
  }
  justify-content: flex-start;
  .light-gray {
    background-color: var(--light-gray);
    flex: 1;
  }
  .red-color {
    background-color: var(--red-color);
    flex: 2;
  }
  .dark-yellow {
    background-color: var(--dark-yellow);
    flex: 1;
  }
}

// form

// input field
.app__job-post-form__input {
  border: var(--border);
  width: 100%;
  font-size: 1rem;
}

// work place
.app__job-post-form__input-work-place {
  width: 30%;
}
//salary
.app__job-post-form__input-salary {
  width: 20%;
  // margin: 0 0.5rem;
}
// radio button
.app__post-Job-form__input-radio {
  width: 20px;
  height: 20px;
}

// roles
.app__post-job-form__add-role {
  justify-content: flex-start;
  width: 98%;
  //add button
  .del-button {
    cursor: pointer;
    margin-left: 10px;
    &:hover {
      border: 1px solid var(--light-gray);
    }
  }
}
.app__post-job-form__add-role-field {
  height: 70px;
}

// sending button
.app__post-job__form__button {
  height: 50px;
  width: 250px;
}

.app__post-job-form__add-role__button {
  justify-content: flex-end;
  padding: 0 4.5rem;
  button {
    height: 40px;
    background-color: var(--dark-gray);
    font-size: 1.2rem;
    padding: 0;
  }
}
