//company profile styling

// upper colored line
.app__company-profile__upper-colored-bar {
  margin-bottom: 2rem;
  .light-gray,
  .red-color,
  .dark-yellow {
    height: 5px;
  }
  justify-content: flex-start;
  .light-gray {
    background-color: var(--light-gray);
    flex: 1;
  }
  .red-color {
    background-color: var(--red-color);
    flex: 2;
  }
  .dark-yellow {
    background-color: var(--dark-yellow);
    flex: 1;
  }
}

// form

// input field
.app__company-profile-form__input {
  border: var(--border);
  width: 100%;
}

// radio button
.app__company-profile-form__input-radio {
  width: 20px;
  height: 20px;
}
// about
.app__company-profile-form__about {
  text-align: center;
  width: 100%;
  height: 250px;
  border: 1px solid var(--input-border);
  padding: 1rem;
  margin: 0.5rem 1rem 0.75rem 0;
  border: var(--border);
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  color: var(--med-gray);
}

// address
.app_company-profile-address {
  justify-content: flex-start;
  width: 98%;
  //add button
  .add-button {
    cursor: pointer;
    margin-left: 10px;
    &:hover {
      background-color: var(--light-gray);
    }
  }
}

// sending button
.app__company-profile__form__button {
  height: 50px;
  width: 250px;
}

//  business field radio group
.app__company-profile__form__business-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
  //business field label
  .biusiness-field-label {
    width: 85px;
    margin: 0 0.5rem;
  }
  //radio group
  .business-field-radio-group {
    flex: 1;
  }
}
