// styling Register page header
.regsiter__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(159, 154, 154, 27%);
  //   header image
  img {
    width: 488px;
  }
  // header title
  div {
    flex: 1;
    // padding-left: 9rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark-gray);
  }
}

// media queries

@media (max-width: 700px) {
  .regsiter__header {
    // resizing header image
    img {
      width: 244px;
    }

    // resiziing header text
    div {
      font-size: 1.5rem;
    }
  }
}
@media (max-width: 450px) {
  .regsiter__header {
    div {
      display: none;
    }
  }
}
