/* input field styling */
.alps-east__input-field {
  width: 90%;
  height: 50px;
  border: var(--border);
  text-align: center;
  padding: 0.5rem;
  margin: 0.75rem 1rem 0.75rem 0;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  color: var(--med-gray);
}
.alps-east__input-field-label {
  color: #fff;
}

.alps-east__input-field-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.alps-east__input-field-row-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

/* label if the direction is horisontal */

.alps-east__input-field__label-horizontal {
  margin: 0 0.5rem;
  color: var(--dark-gray);
  font-weight: 400;
  width: 120px;
}
.alps-east__input-field__label-horizontal-radio {
  margin: 0 0.5rem;
  color: var(--dark-gray);
  font-weight: 400;
  /* width: 100px; */
}
