// styling the job details main component

.app__job-details-main {
  padding: 1rem 4rem;
  justify-content: flex-start;
  align-items: flex-start;
}

// details
.app__job-details-main__details {
  border-right: 1px solid rgba(159, 154, 154, 50%);
  padding-right: 0.5rem;
  width: 60%;
  // roles
  .list {
    color: var(--dark-gray);
    //title
  }
}

//benefits and suggested jobs
.app__job-details-main__benefits-suggestion {
  width: 40%;
  min-height: auto;
  padding-left: 1rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 450;
}

// apls-east benefits
.app__job-details__alps-east-benefits {
  margin: 0 3rem;
}
