// styling the filter criteria in the job list page

.app__job-list__search-filter__filter{
margin-left: 4rem;
    .filters{
        margin: 0.5rem 0;
        label{
            margin-left: 0.5rem;
        }
    
        input{
            margin-left: 1rem;
        }

        select{
            font-size: 1rem;
                    }
    }
   
}