// styling message item row in the messagelist

// message container
.app__message__message-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--border);
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  color: var(--dark-gray);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;

  // hover effect
  &:hover {
    border: 1px solid var(--red-color);
    background-color: rgba(159, 154, 154, 20%);
  }
}

// message title
.app__message__message-item__title {
  flex: 2;
  justify-content: flex-start;
  margin: 0 2rem;
}
// small circle before message title
.app__message__message-item____title__circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--dark-yellow);
  margin-right: 1rem;
}

.app__message__message-item__sender,
.app__message__message-item__date {
  flex: 1;
}

// sender
.app__message__message-item__sender__image {
  margin-right: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--light-gray);
  background-color: var(--red-color);
}

// date
.app__message__message-item__date__calendar {
  margin-right: 0.5rem;
}
