.regsiter__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(159, 154, 154, 0.27);
}
.regsiter__header img {
  width: 488px;
}
.regsiter__header div {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-gray);
}

@media (max-width: 700px) {
  .regsiter__header img {
    width: 244px;
  }
  .regsiter__header div {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .regsiter__header div {
    display: none;
  }
}