.app__post-job__upper-colored-bar {
  margin-bottom: 2rem;
  justify-content: flex-start;
}
.app__post-job__upper-colored-bar .light-gray,
.app__post-job__upper-colored-bar .red-color,
.app__post-job__upper-colored-bar .dark-yellow {
  height: 5px;
}
.app__post-job__upper-colored-bar .light-gray {
  background-color: var(--light-gray);
  flex: 1;
}
.app__post-job__upper-colored-bar .red-color {
  background-color: var(--red-color);
  flex: 2;
}
.app__post-job__upper-colored-bar .dark-yellow {
  background-color: var(--dark-yellow);
  flex: 1;
}

.app__job-post-form__input {
  border: var(--border);
  width: 100%;
}

.app__job-post-form__input-work-place {
  width: 30%;
}

.app__job-post-form__input-salary {
  width: 20%;
}

.app__post-Job-form__input-radio {
  width: 20px;
  height: 20px;
}

.app__post-job-form__add-role {
  justify-content: flex-start;
  width: 98%;
}
.app__post-job-form__add-role .add-button {
  cursor: pointer;
  margin-left: 10px;
}
.app__post-job-form__add-role .add-button:hover {
  background-color: var(--light-gray);
}

.app__post-job-form__add-role-field {
  height: 90px;
}

.app__post-job__form__button {
  height: 50px;
  width: 250px;
}