.app__text-area-row {
  display: flex;
  align-items: flex-start;
}

.app__text-area__label {
  width: 100px;
  margin: 0 0.5rem;
}

.app__teat-area {
  text-align: center;
  width: 100%;
  height: 250px;
  border: 1px solid var(--input-border);
  padding: 1rem;
  margin: 0.5rem 1rem 0.75rem 0;
  border: var(--border);
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  color: var(--med-gray);
}