/* styling variables */
:root {
  --red-color: #cf1919;
  --light-gray: #9f9a9a;
  --med-gray: #554a4a;
  --dark-gray: #2d2626;
  --yellow: #feed00;
  --dark-yellow: #feb449;
  --inpu-border: 1px solid #707070;
  --card-border: 1px solid rgba(159, 154, 154, 0.6);
  --border: 0.5px solid rgba(159, 154, 154, 50%);
}

/* general rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: "Roboto", sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
